/Simple_Computer_Simulation/build/
/Simple_Computer_Simulation - Copy/build/
/Simple_Computer_Simulation - Copy/nbproject/private/
/Simple_Computer_Simulation_2/build/
/Simple_Computer_Simulation_2/nbproject/private/